<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title><%%= @page_title || "Untitled" %> : <%= admin_name %></title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css">
		<%%= javascript_include_tag 'admin' %>
		<%%= stylesheet_link_tag 'admin' %>
	</head>
	<body>
		<div id="header">
			<h1><%= admin_name %> <span><%%= @page_title %></h1>
			<ul id='navigation'>
				<li class='active'><a href='#'>Type 1</a></li>
				<li><a href='#'>Type 2</a></li>
				<li><a href='#'>Type 3</a></li>
			</ul>
			<ul id='subnavigation'>
				<li><a href='#'>Type 3</a></li>
				<li><a href='#'>Type 3</a></li>
			</ul>
		</div>
		<%%= content_tag(:div, "<span>close</span>" + flash[:notice], :class => "flash_notice") if flash[:notice] %>
		<%%= content_tag(:div, "<span>close</span>" + flash[:error], :class => "flash_error") if flash[:error] %>
		<%%= content_tag(:div, "<span>close</span>" + flash[:warning], :class => "flash_warning") if flash[:warning] %>
		<div id='sidebar'>
			<%%= yield(:sidebar) %>
		</div>
		<div id='content'>
			<%%= yield %>
		</div>
		<div id='footer'>
			Designed and developed by Your Name. Copyright &copy; <%%= Time.now.year %>, all rights reserved.
		</div>
	</body>
</html>